/* background */
html {
	height: 100%;
}

body {
	margin: 0;
}

.bg {
	animation: slide 6s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #68B0AB 50%, #C8D5B9 50%);
	bottom: 0;
	left: -50%;
	opacity: .5;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: -1;
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 8s;
}

.bg3 {
	animation-duration: 10s;
}

.content {
	background-color: rgba(250, 243, 221, .8);
	border-radius: .25em;
	box-shadow: 0 0 .25em rgba(74, 124, 89, 1);
	box-sizing: border-box;
	left: 50%;
	padding: 10vmin;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	/* color: #4A7C59; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: monospace;
}

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}

	100% {
		transform: translateX(25%);
	}
}

/* button class */

/* CSS */
.button-80 {
	background: #fff;
	backface-visibility: hidden;
	border-color: #212121;
	border-radius: .375rem;
	border-style: solid;
	border-width: .125rem;
	box-sizing: border-box;
	color: #212121;
	cursor: pointer;
	display: inline-block;
	font-family: Circular, Helvetica, sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: -.01em;
	line-height: 1.3;
	padding: .875rem 1.125rem;
	position: relative;
	text-align: left;
	text-decoration: none;
	transform: translateZ(0) scale(1);
	transition: transform .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-80:not(:disabled):hover {
	transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
	transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
	outline: 0 solid transparent;
}

.button-80:focus:before {
	content: "";
	left: calc(-1*.375rem);
	pointer-events: none;
	position: absolute;
	top: calc(-1*.375rem);
	transition: border-radius;
	user-select: none;
}

.button-80:focus:not(:focus-visible) {
	outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
	border-width: 0;
}

.button-80:not(:disabled):active {
	transform: translateY(.125rem);
}


/* Select Boxes */

/* .optionbox {
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

.select-box {
	background: #fff;
	border: 2px solid;
	border-radius: .375rem;
	box-sizing: border-box;
	color: #212121;
	cursor: pointer;
	display: inline-block;
	font-family: Circular, Helvetica, sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: -.01em;
	line-height: 1.3;
	padding: .875rem 1.125rem;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: transform .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	height: 55px;
	width: 185px;
	/* dropdown arrow */
	/* background-image: url('dropdown-arrow.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px; */
}

.select-box:hover {
	transform: scale(1.05);
}

.select-box:active {
	transform: scale(1.05) translateY(.125rem);
}

.select-box:focus {
	outline: 0 solid transparent;
}

.select-box:focus:before {
	content: "";
	left: calc(-1 * .375rem);
	pointer-events: none;
	position: absolute;
	top: calc(-1 * .375rem);
	transition: border-radius;
	user-select: none;
}

.select-box:focus:not(:focus-visible) {
	outline: 0 solid transparent;
}

.select-box:focus:not(:focus-visible):before {
	border-width: 0;
}

.select-box:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.select-box:disabled:hover {
	transform: none;
}

.select-box:disabled:active {
	transform: none;
}




/* Calendar/Date Input */

.calendar-input {
	background: #fff;
	border: 2px solid;
	border-radius: .375rem;
	box-sizing: border-box;
	color: #212121;
	cursor: pointer;
	display: inline-block;
	font-family: Circular, Helvetica, sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: -.01em;
	line-height: 1.3;
	padding: .875rem 1.125rem;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: transform .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	height: 55px;
	width: 185px;
}

.calendar-input:hover {
	transform: scale(1.05);
}

.calendar-input:active {
	transform: scale(1.05) translateY(.125rem);
}

.calendar-input:focus {
	outline: 0 solid transparent;
}

.calendar-input:focus:before {
	content: "";
	left: calc(-1 * .375rem);
	pointer-events: none;
	position: absolute;
	top: calc(-1 * .375rem);
	transition: border-radius;
	user-select: none;
}

.calendar-input:focus:not(:focus-visible) {
	outline: 0 solid transparent;
}

.calendar-input:focus:not(:focus-visible):before {
	border-width: 0;
}

.calendar-input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.calendar-input:disabled:hover {
	transform: none;
}

.calendar-input:disabled:active {
	transform: none;
}