<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheets %}
	<!-- Add your CSS files here -->
	{% endblock %}
</head>

<body>
	<header>
		<!-- Add your header content here -->
	</header>

	<main>
		{% block content %}
		<!-- Add your main content here -->
		{% endblock %}
	</main>

	<footer>
		<!-- Add your footer content here -->
	</footer>

	{% block scripts %}
	<!-- Add your JavaScript files here -->
	{% endblock %}
</body>

</html>