{% extends "base.html" %}

{% block title %}Shift Planner{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content %}
<h1>Shift Planner</h1>

<form action="/switchShifts" method="POST" id="shiftAssignment">
	<!--
		I want this to be run automatically,
		so as you pick a date and a shift 
		it automatically pull the employees 
		from that specific shift

		- probably needs AJAX
	-->
	<label for="calendar">Select a date:</label>
	<input type="date" id="calendar" name="calendar">

	<label for="selectedShift">Shift:</label>
	<select id="selectedShift" name="selectedShift">
		{% for shift in shifts %}
		<option value="{{ shift.id }}" id="shift{{ shift.id }}">{{ shift.display }}</option>
		{% endfor %}
	</select>
	<ul id="dayShift" class="selectedEmployees"></ul>

	{% for station in stations %}
	<label for="{{ station.station }}">{{ station.station }}</label>
	<select id="{{ station.station }}">

	</select>
	<ul id="{{ station.station }}Employees" class="selectedEmployees">
	</ul>
	{% endfor %}

	<button type="submit">Submit</button>
</form>
<ul id="unassignedEmployees" class="selectedEmployees">
	<li><b><u>Unassigned Employees</u></b></li>
	<!--
			Might be cool to add a 
			dropdown menu to each of 
			the names so you can assign 
			the employees a station from this list

			Would need a Jinja/Flask For Loop
		-->
	{% for emp in emps %}
	<li>{{ emp.fname }} {{ emp.lname }}</li>
	{% endfor %}
</ul>
{% endblock %}

{% block scripts %}

{% endblock %}