{% extends "base.html" %}

{% block title %}Shift Planner{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
{% endblock %}

{% block content %}

<body>
	<h1>Shift Planner</h1>

	<form action="/switchShifts" method="POST" id="shiftSelection">
		<!-- <label for="calendar">Select a date:</label> -->
		<input type="date" id="calendar" name="calendar" onchange="autoClick()" value="{{ selected_date|default('') }}"
			class="calendar-input">

		<!-- <label for="selectedShift">Shift:</label> -->
		<select id="selectedShift" name="selectedShift" class="select-box" onchange="autoClick()">
			{% for shift in shifts %}
			<option value="{{ shift.id }}" id="shift{{ shift.id }}" {% if selected_shift_id==shift.id %} selected
				{%endif%}>
				{{ shift.display }}</option>
			{% endfor %}
		</select>
		<br>
		<button type="submit" id="submitShift" display="none" hidden>Submit</button>
	</form><br>
	<form action="/makeAssignments" method="POST" id="shiftAssignment">
		{% for station in stations %}
		<!-- <label for="{{ station.id }}">{{ station.station }}</label> -->
		<div class="optionbox">
			<select id="{{ station.id }}" onchange="autoClick()" class="select-box" style="height: 25px;"">
				<!-- Populate the dropdown menu with employees -->
				<option disabled selected value> -- {{ station.station }} -- </option>
				{% for employee_id, employee_info in emps.items() %}
				<option value=" {{ employee_id }}">{{ employee_info.first }} {{ employee_info.last
				}}</option>
				{% endfor %}
			</select>
		</div>
	</form>
	<ul id="{{ station.station }}Employees" class="selectedEmployees">
		<!-- Display the selected employees for each station -->
		{% if station.station in assignments %}
		{% for emp in assignments[station.station] %}
		{% for key, value in emp.items() %}
		<button class="employeeButton button-80" data-employee="{{ key }}" onclick="deleteAssignment(this)">
			{{ value }}
			<span class="deleteIcon">&times</span>
		</button>
		{% endfor %}

		{% endfor %}
		{% endif %}
	</ul>
	{% endfor %}

	<!-- <button type="submit">Submit</button> -->

	<!-- <h3><b><u>Unassigned Employees</u></b></h3>
	<p>Right now I have nothing checking if they're unassigned</p>
	<ul id="unassignedEmployees" class="selectedEmployees">
		{% for employee_id, employee_info in emps.items() %}
		<li>{{ employee_info.first }} {{ employee_info.last }}</li>
		{% endfor %}
	</ul> -->
</body>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/ajax.js"></script>
<script>
	function autoClick() {
		if (document.getElementById("calendar").value != "") {
			document.getElementById("submitShift").click()
		}
	}
</script>
{% endblock %}